.input-sets-root {
	.drag-handle {
		cursor: move;
	}

	.input-sets-item-drop-zone-root {
		height: 24px;
		position: relative;
		width: 100%;

		.input-sets-item-drop-zone-over {
			background-color: #80acff;
			height: 4px;
			left: 0;
			margin-top: 10px;
			position: absolute;
			width: 100%;
		}
	}

	.input-sets-item-form-group {
		background-color: #fff;
		border: 1px solid #d5d5d5;
		border-radius: 4px;
		margin: 0;
		padding: 12px 16px 12px 8px;

		.input-group-item-shrink {
			.btn {
				margin: auto 0;
			}

			&:last-child {
				.btn {
					margin-left: 12px;
				}
			}
		}
	}
}
