.tr-table-chart {
	max-width: 500px;
	table-layout: fixed;

	.blocked {
		background-color: $blocked-color;
	}

	.failed {
		background-color: $failed-color;
	}

	.passed {
		background-color: $passed-color;
	}

	.test-fix {
		background-color: $test-fix-color;
	}

	&__data-area {
		border-color: $color-gray-light !important;
		opacity: 0.3;

		&:hover {
			opacity: 1;
		}
	}
}
