<div class="alert alert-dismissible alert-success d-none" role="alert">
	<span class="alert-indicator">
	<svg class="lexicon-icon lexicon-icon-check-circle-full" role="presentation">
		<use xlink:href="http://localhost:8080/o/dialect-theme/images/clay/icons.svg#check-circle-full" />
		</svg>
	</span>

	<strong class="lead">Success:</strong>Organization successfully edited
</div>