.dashboard-table-row {
	&-name {
		&-container {
			align-items: center;
			display: flex;
			flex-direction: row;
			gap: 1.5rem;
		}

		&-logo {
			border-radius: 0.25rem;
			height: 2.25rem;
			width: 2.25rem;
		}

		&-text {
			color: #282934;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1.5rem;
		}
	}

	&-text {
		color: #282934;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;
	}

	&-last-updated {
		&-container {
			align-items: center;
			display: flex;
			gap: 0.25rem;
		}

		&-date {
			color: #282934;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 1rem;
			font-weight: 600;
			line-height: 1.5rem;
		}

		&-responsible {
			color: #82828c;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 0.813rem;
			font-weight: 400;
			line-height: 1rem;
		}

		&-by {
			color: #54555f;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 0.813rem;
			font-weight: 400;
			line-height: 1rem;
		}
	}

	&-status {
		&-container {
			align-items: center;
			display: flex;
			gap: 0.5rem;
		}

		&-icon {
			height: 0.5rem;
			width: 0.5rem;

			&-published {
				filter: invert(35%) sepia(17%) saturate(3748%)
					hue-rotate(189deg) brightness(86%) contrast(89%);
			}

			&-pending {
				filter: invert(29%) sepia(96%) saturate(3804%) hue-rotate(29deg)
					brightness(97%) contrast(101%);
			}

			&-hidden {
				filter: invert(54%) sepia(7%) saturate(388%) hue-rotate(202deg)
					brightness(94%) contrast(91%);
			}
		}

		&-text {
			color: #6c6c75;
			font-family: 'Source Sans Pro', sans-serif;
			font-size: 0.813rem;
			font-weight: 600;
			line-height: 1rem;
		}
	}
}
