@import 'cadmin-variables';

$treeNodeNameMappedColor: #954cff;

html#{$cadmin-selector} {
	.cadmin {
		.lfr-treeview-node-list-item__node {
			max-width: 100%;
		}

		.page-editor__page-structure__tree-node {
			align-items: center;
			display: flex;
			font-size: 12px;
			justify-content: space-between;
			padding: 6px 8px;
			position: relative;
			white-space: nowrap;

			&[aria-disabled='true'] {
				cursor: not-allowed;

				> div {
					pointer-events: none;
				}
			}

			&.drag-over-bottom {
				box-shadow: 0 1px 0 0 $cadmin-primary-l1;
			}

			&.drag-over-top {
				box-shadow: 0 -1px 0 0 $cadmin-primary-l1;
			}

			&.drag-over-middle {
				background-color: $cadmin-primary-l3;
				border-radius: 4px;
				box-shadow: 0 0 0 1px $cadmin-primary-l1;
			}

			&.dragged {
				opacity: 0.5;
			}

			&__mask {
				cursor: pointer;
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;

				&:active,
				&:focus {
					box-shadow: none;
				}
			}

			&--active {
				font-weight: 600;
			}

			&--active,
			&--hovered {
				background-color: $cadmin-primary-l3;
				border-radius: 4px;
			}

			&--active {
				box-shadow: inset 0 0 0 1px $cadmin-primary-l1;
			}

			&--mapped#{&}--active,
			&--mapped#{&}--hovered {
				background-color: fade_out($cadmin-purple, 0.92);
			}

			&--mapped#{&}--active {
				box-shadow: inset 0 0 0 1px $cadmin-purple;
			}

			&--master-item {
				background-color: $cadmin-light-l1;
			}

			&__buttons--hidden > button {
				color: $cadmin-secondary-l1;
			}

			&__name {
				color: $cadmin-dark;
				margin-left: 4px;

				input {
					width: 0;
					z-index: 1;

					&:active,
					&:focus {
						outline-color: $cadmin-primary-l1;
					}
				}

				.lexicon-icon {
					margin-right: 8px;
				}

				&-info {
					font-weight: 400;

					&:before {
						background-color: $cadmin-dark;
						border-radius: 50%;
						content: '';
						display: block;
						height: 2px;
						left: -8px;
						position: absolute;
						top: 50%;
						transform: translateX(-50%);
						width: 2px;
					}
				}

				&--master-item {
					color: $cadmin-secondary-l1;
					cursor: not-allowed;
				}

				&--hidden {
					color: $cadmin-secondary-l1;
				}

				&--mapped {
					color: $treeNodeNameMappedColor;

					&.page-editor__page-structure__tree-node__name {
						&--hidden,
						&--master-item {
							color: fade_out($treeNodeNameMappedColor, 0.6);
						}
					}
				}
			}

			&__actions-button,
			&__visibility-button {
				color: $cadmin-secondary;
				margin-left: 8px;
				transform: translateY(1px);
				visibility: hidden;

				&--visible {
					visibility: visible;
				}
			}

			&__visibility-button:last-of-type {
				margin-right: 1.25rem;
			}
		}
	}
}
