<div class="d-flex justify-content-end on-click-button">
	<button class="btn-unstyled dismiss-button mb-n5 mr-4 text-paragraph-sm">
		Dismiss [@clay["icon"] symbol="times"/]
	</button>
</div>

<div class="align-items-center bg-neutral-1 d-lg-flex p-4 pre-dismiss rounded-xl">
	<div class="col">
		<h1 data-lfr-editable-id="first-welcome-banner-title" data-lfr-editable-type="rich-text">
			This is editable text!
		</h1>

		<p class="align-items-center d-flex" data-lfr-editable-id="first-welcome-banner-description" data-lfr-editable-type="rich-text">
			This is editable text!
		</p>

		<div class="d-sm-flex">
			<lfr-drop-zone></lfr-drop-zone>

			<lfr-drop-zone></lfr-drop-zone>
		</div>
	</div>

	<div class="col">
		<lfr-drop-zone></lfr-drop-zone>
	</div>
</div>

<div class="align-items-center d-none justify-content-between p-4 pos-dismiss">
	<div class="col">
		<h1 data-lfr-editable-id="second-welcome-banner-title" data-lfr-editable-type="rich-text">
			This is editable text!
		</h1>
	</div>

	<div class="col d-sm-flex justify-content-lg-end my-4">
		<lfr-drop-zone></lfr-drop-zone>

		<lfr-drop-zone></lfr-drop-zone>
	</div>
</div>