html#{$cadmin-selector} {
	.cadmin {
		&.portlet-topper {
			position: relative;

			.portlet-topper-toolbar {
				.portlet-icon-back {
					background: url(../images/arrows/12_left.png) no-repeat 0
						50%;
					padding: 5px 5px 5px 18px;
				}

				.portlet-options .lfr-icon-menu-text {
					display: none;
				}
			}
		}

		.component-action.portlet-options {
			color: white;
		}
	}
}

body.portlet {
	border-width: 0;
}

.portlet-icon-back {
	margin-top: -2px;

	.portlet-topper .portlet-topper-toolbar & {
		background: url(../images/arrows/12_left.png) no-repeat 0 50%;
		padding: 5px 5px 5px 18px;
	}
}

.portlet-options-dropdown {
	z-index: 1035;
}

.portlet-topper {
	position: relative;

	.portlet-topper-toolbar .portlet-options .lfr-icon-menu-text {
		display: none;
	}

	.portlet-draggable & {
		cursor: move;
	}
}

.portlet-title-editable {
	cursor: pointer;
}

.portlet-title-text {
	display: inline-block;
	margin-top: 0;
	max-width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;

	.panel-page-body &,
	.panel-page-content & {
		cursor: auto;
	}
}

.portlet-minimized .portlet-content {
	padding: 0;
}

.portlet-nested-portlets .portlet-boundary {
	left: 0 !important;
	position: relative !important;
	top: 0 !important;
}

.portlet-layout .portlet-header {
	margin-bottom: $portlet-header-margin-bottom;
}

.portlet {
	.visible-interaction {
		@include media-breakpoint-up(sm) {
			display: none;
		}

		.controls-hidden & {
			@include media-breakpoint-down(sm) {
				display: none;
			}
		}
	}

	&:hover,
	&.open,
	&.focus {
		.visible-interaction {
			display: block;
		}
	}
}

.controls-hidden {
	.lfr-meta-actions,
	.lfr-configurator-visibility {
		display: none;
	}

	.portlet-topper-toolbar {
		display: none !important;
	}

	.portlet-topper {
		.portlet-title-default {
			display: none !important;
		}
	}
}
